<h1>New booking</h1>

<%= simple_form_for @booking, url: rv_bookings_path(@rv), method: :post do |f| %>
  <%= f.text_field :check_in_on, "data-provide" => "datepicker",  "data-date-format" => "dd/mm/yyyy" %>
  <%= f.text_field :check_out_on, "data-provide" => "datepicker", "data-date-format" => "dd/mm/yyyy"  %>
  <%= f.submit %>
<% end %>


<script>


</script>
