<h1><%= @booking.price %></h1>




<% if @booking.check_out_on < Date.today + 10 %>
  <% if  @booking.rating.nil? %>
    <%= render "bookings/edit" %>
  <% else %>
    <p><%= @booking.review %></p>
    <p><%= "*" * @booking.rating %></p>
  <% end %>
<% end %>


