<div class="header-banner-top">

      <div class="banner">

          <div class="banner-image"></div>

          <div class="primary-wrapper">

            <h1 class="site-title"><a href="#">MCRVS</a></h1>
            <div class="site-tagline"> Explore. Discover. Rent a recreational vehicle that fits your adventure.</div>
          </div>
          <div class="in-line">
          <%= link_to "Find a RV", root_path( anchor: "map"),  id: "go-down", :class => "btn-medium"%>
          <% if user_signed_in? %>
          <%= link_to "Add a RV", new_rv_path, :class => "btn-medium" %>
          <% end %>
          </div>
        </div>
  </div>
