<div class="header-banner-top">

      <div class="banner">

          <div class="banner-image"></div>

          <div class="primary-wrapper">

            <h1 class="site-title"><a href="#">MCRVS</a></h1>
            <div class="site-tagline"> Explore. Discover. Rent a motorhome that fit your adventure.</div>
          </div>
          <%= link_to "Put a RV up for rental", new_rv_path, :class => "btn btn-medium" %>
        </div>
  </div>
