.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.infos {
  margin: 10px;
  padding: 10px;
  height: 300px;
  border: 1px solid $box-gray;
  box-shadow: 1px 1px 1px $box-gray;
  border-radius: 3px;
}

.infos h2 {
  margin-top: 0px;
}
.infos h4 {
  text-align: right;
  color: $blue;
  font-size: 20px;
}

.rv {
  padding: 10px;
}
