// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "banner";
@import "customflex";

.btn-medium {
  color: #fffcf2;
  border: 0.5px solid #ccc5b9;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 400;
  background-color: #222;
  opacity: 0.8;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #ccc5b9;
}
